@model projektarbete_azure.Models.RichardsModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Richard's awesome page!</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                The cat facts!!
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CatFacts) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.text)
                    </td>
                </tr>
        }
    </tbody>
    <h1>A cool cat:</h1>
    <h1>@Model.CatUrl</h1>
</table>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hY7m5jjJ9mM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
