@{
    ViewData["Title"] = "Richard";
}

<div class="text-center">
    <h1 class="display-4">My name is Richard and I like potatoes!!! XD XD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>